<html>

<head>
    <link rel="stylesheet" href="/css/blogcss.css" />
    <%- include('../views/partials/links'); %>  
   
</head>

<body>

                <!-- header part -->

  <nav class="navbar navbar-expand-lg bg-danger navbar-light">
        <div class="container mt-1">
            <h2 class="text-white">Red<b>BUS</b></h2>
            <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse"
                data-target="#collapsenavbar">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="collapsenavbar">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item px-2">
                        <a href="/mybooking" class="nav-link text-white"> BOOKINGS </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/profile" class="nav-link text-white"> PROFILE </a>
                    </li>
                    <li class="nav-item px-2">
                        <a href="/logout" class="nav-link text-white"> LOGOUT </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




                    <!-- page content -->
<div class="container mt-5">
     <h3 class="text-center mb-5">Seach Your Trip Here</h3>
        <div class="d-flex justify-content-center align-items-center">
            <form class="mt-3 col-md-6" id="searchtrip" action="/schedule" method="post">
                <div class="form-group">
                    <div class="container ">
                        <div class="row mx-md-n2">
                            <div class="col px-md-2">
                                <label for="startingPoint">From</label>
                                <input type="text" class="form-control" id="startingPoint" name="startingPoint" placeholder="From">
                            </div>
                            <div class="col px-2">
                                <label for="destinationPoint">Destination</label>
                                <input type="text" class="form-control" id="destinationPoint" name="destinationPoint" placeholder="Destination">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="container ">
                        <label for="travelDate">Travel Date</label>
                        <input type="date" class="form-control" id="travelDate" name="travelDate" placeholder="Travel Date" required>
                    </div>
                </div>
                    
                <div class="form-group justify-content-center">
                    <div class="container">
                        <input type="submit" class="btn btn-danger btn-info mt-2" value="SEARCH">
                        
                    </div>
                </div>
            </form>
        </div>
</div>

    <%- include('../views/partials/footer'); %>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script>
        jQuery("#searchtrip").validate({
            rules: {
                startingPoint: {
                    required: true
                },
                destinationPoint: {
                    required: true
                },
            },
            messages: {
                startingPoint: {
                    required: "Please enter starting point",
                },
                destinationPoint: {
                    required: "Please enter destination point",
                },
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#travelDate').attr('min',today);
    </script>

</body>

</html>