<html>

<head>
    <%- include('../views/partials/links'); %>
    <link rel="stylesheet" href="/css/validation.css" />
</head>

<body>
    <%- include('../views/partials/header'); %>

        <div class="container mt-3">
            <h2 class="text-center">Add Your Blog Here</h2>
            <div class="d-flex justify-content-center">
                <form class="mt-2 col-md-6" id="addblog" action="/addblog" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="Title">Name</label>
                        <input type="title" class="form-control" id="title" name="title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control z-depth-1" id="description" name="description" rows="3"
                            placeholder="Write something here..." required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="description">Image</label>
                        <div class="form-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" name="photo" id="photo"
                                    accept=".png, .jpg, .jpeg">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-info mt-2">Upload Blog</button>
                    </div>
                </form>
            </div>

            <%- include('../views/partials/footer'); %>

                <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                <script
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
                <script>
                    jQuery("#addblog").validate({
                        rules: {
                            title: "required",
                            description: {
                                required: true,
                                maxlength: 100
                            },
                            photo: "required"
                        },
                        messages: {
                            title: "Please enter title",
                            description: {
                                required: "Please enter description",
                                maxlength: "Description is too long"
                            },
                            photo: "Please select image"
                        },
                        submitHandler: function (form) {
                            form.submit();
                        }
                    });
                </script>

</body>

</html>