<div class="col-xl-2 col-lg-3 col-md-12 theiaStickySidebar">
  <aside class="sidebar sidebar-user">
    <div class="card ctm-border-radius shadow-sm grow">
      <div class="card-body py-4">
        <div class="row">
          <div class="col-md-12 mr-auto text-left">
            <div class="custom-search input-group">
              <div class="custom-breadcrumb">
                <ol class="breadcrumb no-bg-color d-inline-block p-0 m-0 mb-2">
                  <li class="breadcrumb-item d-inline-block"><a href="/profile" id="asideHomeProfile" class="text-dark">Home</a></li>
                  <li class="breadcrumb-item d-inline-block active aside-module-name">Profile</li>
                </ol>
                <h4 class="text-dark aside-module-name">Profile</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="user-card shadow-sm grow bg-white p-4 text-center ctm-border-radius card">
      <div class="user-info">
        <div class="user-avatar mb-4">
          <img src="/assets/img/profiles/img-6.jpg" alt="User Avatar" id="employee-avatar-aside" class="img-fluid rounded-circle"
            width="100">
        </div>
        <div class="user-details">
          <h4><b>Welcome <span class="employee-name-aside"></span> </b></h4>
        </div>
      </div>
    </div>
    <div class="sidebar-wrapper d-lg-block d-md-none d-none">
      <div class="card ctm-border-radius shadow-sm grow border-none">
        <div class="card-body">
          <div class="row no-gutters">
            <div class="col-12 align-items-center shadow-none text-center">
              <a href="/employee/" id="asideProfile" class="text-dark p-4 first-slider-btn second-slider-btn ctm-border-right ctm-border-left ctm-border-top">
                <span class="lnr lnr-user pr-0 pb-lg-2 font-23"></span>
                <span class="">Profile</span>
              </a>
            </div>
            <div class="col-12 align-items-center shadow-none text-center">
              <a href="/employees/eid/projects" id="asideProjects" class="text-dark p-4 ctm-border-right ctm-border-left">
                <span class="lnr lnr-chart-bars pr-0 pb-lg-2 font-23"></span>
                <span class="">Projects</span>
              </a>
            </div>
            <div class="col-12 align-items-center shadow-none text-center">
              <a href="/employees/:eid/pocs" id="asidePocs" class="text-dark p-4 ctm-border-right ctm-border-left">
                <span class="lnr lnr-users pr-0 pb-lg-2 font-23"></span>
                <span class="">POC</span>
              </a>
            </div>
            <div class="col-12 align-items-center shadow-none text-center">
              <a href="/attendance" id="asideAttendance" class="text-dark p-4 ctm-border-left ctm-border-right">
                <span class="lnr lnr-pencil pr-0 pb-lg-2 font-23"></span>
                <span class="">Attendence</span>
              </a>
            </div>
            <div class="col-12 align-items-center shadow-none text-center">
              <a href="/employees/leave" id="asideLeave" class="text-dark p-4 last-slider-btn last-slider-btn1 ctm-border-right ctm-border-left">
                <span class="lnr lnr-list pr-0 pb-lg-2 font-23"></span>
                <span class="">Leave</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>