<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.png" />

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/lnr-icon.css" />

    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>Change-password Password </title>
  </head>

  <body>
    <div id="loader-wrapper">
      <div class="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div class="inner-wrapper login-body grow position-relative">
      <div class="login-wrapper">
        <div class="container">
          <div class="loginbox shadow-sm">
            <div class="login-left">
              <img class="img-fluid" src="/assets/img/logo.png" alt="Logo" />
            </div>
            <div class="login-right">
              <div class="login-right-wrap">
                <h1 class="mb-3">Change Password</h1>

                <form id="changePasswordForm" method="POST">
                  <p class="text-danger" id="error"> 
                    
                    </p>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="password"
                      name="currentPass"
                      id="cpassword"
                      placeholder="current Password"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="password"
                      name="newPass"
                      id="newPassword"
                      placeholder="new password"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      class="form-control"
                      type="password"
                      name="reNewPass"
                      id="reNewPassword"
                      placeholder="re-enter password"
                    />
                  </div>
                  <div class="form-group mb-0">
                    <button
                      class="btn btn-theme ctm-border-radius text-white btn-block button-1"
                      type="submit"
                    >
                      change password
                    </button>
                  </div>
                </form>

                <div class="text-left dont-have">
                  <a href="/login"><i class="fa fa-angle-double-left"></i> Go back</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Toasts -->
      <div aria-live="polite" aria-atomic="true">

          <!-- Position it -->
          <div class="fixed-bottom w-25" style="bottom: 2rem; left: 2rem;">
              <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header">
                      <strong class="mr-auto toast-title">Toast Title</strong>
                      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="toast-body">
                      Some Toast Body      
                  </div>
            </div>
          </div>
      </div>

    </div>

    <script src="/assets/js/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>

    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/script.js"></script>
    <script>

      $("#changePasswordForm").on("submit", (event) => {
        event.preventDefault();

      });

      $('#changePasswordForm').validate({
        rules: {
          currentPass: {
            required: true,
            nowhitespace: true,
            maxlength: 12,
            minlength: 8,
          },
          newPass: {
            required: true,
            nowhitespace: true,
            maxlength: 12,
            minlength: 8,
          },
          reNewPass: {
            equalTo: "#newPassword"
          },
        },
        messages: {
          currentPass: {
            required: "please enter current password",
            nowhitespace: "no white space allowed in password",
            maxlength: "password must be ob 8 to 12 characters",
            minlength: "password must be ob 8 to 12 characters",
          },
          newPass: {
            required: "please enter new password",
            nowhitespace: "no white space allowed in password",
            maxlength: "password must be ob 8 to 12 characters",
            minlength: "password must be ob 8 to 12 characters",
          },
          reNewPass: {
            equalTo: "both password are not same. re-enter!"
          },
        },
        errorElement: "span",
        errorClass: "text-danger",
        submitHandler: function (form) {
          const path = location.pathname;
          $.ajax({
            type: 'POST',
            url: `${path}`,
            data: {
              currentPassword: $('#cpassword').val(),
              newPassword: $('#newPassword').val(),
              reNewPassword: $('#reNewPassword').val(),
            },
            success: ({data}) => {
              $('.toast-header').removeClass('bg-danger').addClass('bg-success').addClass('text-dark');
              $('.toast-title').text('Change Password');
              $('.toast-body').text('password change successfully');
              $('.toast').toast({
                delay: 4000,
              });
              $('.toast').toast('show');
              window.location=data.redirect;
            },
            error: (error) => {
              $('.toast-header').removeClass('bg-success').addClass('bg-danger').addClass('text-dark');
              $('.toast-title').text('Change Password');
              $('.toast-body').text(error.responseJSON.error);
              $('.toast').toast({
                delay: 4000,
              });
              $('.toast').toast('show');
              // $('#error').text(error.responseJSON.errorMessage);
            }
          });
        },
      });
    </script>
  </body>
</html>
